*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: none;
}

svg:hover, .circle:hover, button {
  cursor: pointer;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.brand {
  display: flex;
  align-items: center;
  width: 25%;
  justify-content: space-around;
  padding: 0.5rem 0.8rem;
}

.search-bar {
  position: relative;
  background-color: #d9d9d9;
  height: 2rem;
  width: 22rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem 1rem;
  gap: 1rem;
}

.search-icon {
  position: absolute;
  top: 1.8rem;
  left: 5rem;
}

.search-text {
  position: absolute;
  top: 1.95rem;
  left: 7rem;
}

.navigation-icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
}

.user {
  width: 22%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.circle {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #d9d9d9;
}

.union {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.notification {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  background-color: rgba(212, 41, 41, 0.945);
  color: white;
  position: absolute;
  right: -0.2rem;
  top: -0.5rem;
}

.notification p {
  font-size: 0.8rem;
  font-weight: 600;
}

.media {
  position: relative;
}

.media .notification {
  right: -0.8rem;
  top: -0.8rem;
}

.section {
  width: 100%;
  background: linear-gradient(to bottom, #6f6f7a 8%, white 70%);
}

.block_div {
  margin: 0 auto;
  width: 55%;
  height: 40vh;
  background-color: rgba(0, 0, 0, 0.575);
}

.block_profile {
  width: 50%;
  padding: 1rem;
  border-bottom: 0.1rem solid rgba(110, 110, 110, 0.336);
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.user-name p {
  color: gray;
}

.block_profile-user {
  position: relative;
  top: -1.5rem;
  width: 7rem;
  height: 7rem;
  background-color: black;
  border-radius: 50%;
}

.blue-block {
  width: 17rem;
  height: 2.5rem;
  border-radius: 0.3rem;
  background-color: #4291f8;
  align-self: flex-end;
}

.block-container {
  width: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.block-container .left-nav {
  display: flex;
  width: 50%;
  gap: 0.5rem;
  color: gray;
  flex-wrap: wrap;
}
.block-container .left-nav p {
  padding: 1rem;
}
.block-container .left-nav p:nth-child(1) {
  color: #4291f8;
  border-bottom: 0.3rem solid #4291f8;
}
.block-container .left-nav p .fas {
  font-size: 1rem;
}
.block-container .right-nav {
  width: 25%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.block-container .right-nav .like, .block-container .right-nav .message {
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 0.2rem;
}
.block-container .right-nav .like {
  background-color: #c8d8ec;
  color: #4291f8;
  font-weight: 800;
}
.block-container .right-nav .search, .block-container .right-nav .more {
  background-color: rgb(224, 224, 224);
  padding: 0.4rem;
  border-radius: 0.2rem;
  text-align: center;
  margin-right: 0.1rem;
}

.loader {
  border: 0.5rem solid #f3f3f3;
  border-radius: 50%;
  border-top: 0.5rem solid #3498db;
  width: 8rem;
  height: 8rem;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
}

.card {
  height: 10rem;
  width: 20rem;
  position: relative;
  background-color: #ffffff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 1rem auto;
}
.card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
  -webkit-animation: shimmer 2s linear infinite;
          animation: shimmer 2s linear infinite;
  content: "";
}
@-webkit-keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 1200px) {
  html {
    font-size: 12px;
  }
}
.posts {
  width: 100%;
}
.posts .post-container {
  width: 50%;
  margin: 1rem auto;
}
.posts .post-container .post1 {
  height: 35rem;
  width: 40rem;
  background-color: rgba(230, 230, 230, 0.6352941176);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem 0;
  gap: 1rem;
  flex-wrap: wrap;
}
.posts .post-container .post1 .image {
  width: 50%;
  height: 50%;
  position: relative;
}
.posts .post-container .post1 .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.posts .post-container .post1 .image.skeleton::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
  -webkit-animation: shimmer 2s linear infinite;
          animation: shimmer 2s linear infinite;
  content: "";
}
.posts .post-container .post1 .content {
  padding: 1rem;
  width: 90%;
  height: 30%;
  text-align: justify;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.posts .post-container .post1 .content .profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.posts .post-container .post1 .content .profile .right {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.posts .post-container .post1 .content .profile .right .profile-img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: black;
}
.posts .post-container .post1 .content .profile .right .profile-img .photo {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50%;
}
.posts .post-container .post1 .content .output {
  width: 100%;
}
.posts .post-container .post1 .content .text {
  width: 90%;
  display: none;
  height: 10%;
  margin-bottom: 0.2rem;
  position: relative;
  background-color: #6f6f7a;
}
.posts .post-container .post1 .content .text:last-child {
  width: 50%;
  position: relative;
}
.posts .post-container .post1 .content .text::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
  -webkit-animation: shimmer 2s linear infinite;
          animation: shimmer 2s linear infinite;
  content: "";
}
.posts .post-container .post1 .comment {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 5%;
}
.posts .post-container .post1 .comment.skeleton::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
  -webkit-animation: shimmer 2s linear infinite;
          animation: shimmer 2s linear infinite;
  content: "";
}
.posts .post-container .post1 .comment .comments a {
  font-size: 1.2rem;
  color: rgb(99, 99, 99);
  text-decoration: none;
  margin-right: 0.2rem;
}/*# sourceMappingURL=post.css.map */